.na{
    background-color: goldenrod;
    width: 80vw;
    height: 2.5vw;
    display: flex;
    padding-left: 20vw;
    gap: 2vw;
    
}

.ab{
    display: flex;
    align-items: center;
    gap: .5vw;
    font-size: 1vw;
    
    
}